@tailwind base;
@tailwind components;
@tailwind utilities;
  
body {
  font-family: 'DM Sans', sans-serif;
  background-color: #f9f9f9;
  color: #111111;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-in {
  animation: fadeIn 0.25s ease-out forwards;
}